@import "vars";
@import "global";
@import "fonts";

// start header

.header__top {
  background-color: #eef1f3;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__box-btn {
  padding: 4px 16px;
  height: 35px;
  line-height: 28px;
  border-radius: 50px;
  background-color: #0674ec;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 14px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 20px;
    }
  }
  a {
    @include f500;
    text-transform: uppercase;
    font-size: 15px;
    color: #333333;
  }
}

.menu__search {
  border-radius: 50px;
  form {
    position: relative;
    max-width: 360px;
    input {
      display: block;
      width: 360px;
      height: 46px;
      border-radius: 50px;
      border: 1px solid #d9dfe5;
      font-size: 15px;
      padding-left: 25px;
      padding-right: 70px;
      outline: none;
      &::placeholder {
        color: #898f96;
      }
    }
    button {
      position: absolute;
      border: none;
      padding: 13px 25px;
      border-radius: 50px;
      background-color: #0674ec;
      right: 0px;
      top: 0px;
      cursor: pointer;
      outline: none;
    }
  }
}

// end header
// start products

.creator {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 725px;
}

.creator__inner {
  padding: 180px 0 200px;
  text-align: center;
  &-title {
    font-size: 60px;
    line-height: 70px;
    color: $title;
    span {
      display: block;
      @include f700;
    }
  }
  &-text {
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 20px;
    color: $title;
    @include f500;
  }
  &-btn {
    font-size: 16px;
    button {
      color: #fff;
      height: 55px;
      background-color: transparent;
      padding: 13px 25px;
      border-radius: 50px;
      border: 1px solid #fff;
      transition: all 0.3s;
      & + button {
        margin-left: 30px;
      }
      &:hover {
        background-color: #fff;
        color: #0674ec;
      }
    }
  }
}

// end products

// start search

.search {
  padding-bottom: 120px;
}

.search__box {
  position: relative;
  .search__box-shadow-first {
    position: absolute;
    height: 135px;
    left: 15px;
    right: 15px;
    top: -76px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    opacity: 0.5;
  }
  .search__box-shadow-second {
    position: absolute;
    height: 135px;
    left: 30px;
    right: 30px;
    top: -89px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    opacity: 0.25;
  }
  .search__menu-box {
    position: absolute;
    left: 0;
    right: 0;
    top: -63px;
    border: none;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    form {
      display: flex;
      justify-content: space-between;
      max-height: 56px;
      input {
        display: block;
        max-width: 610px;
        width: 100%;
        height: 56px;
        border-radius: 5px;
        border-right: none;
        border: 1px solid #d9dfe5;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        font-size: 15px;
        padding: 0 25px;
        outline: none;
        &::placeholder {
          color: #898f96;
        }
      }
      select {
        margin-left: -31px;
        border: 1px solid #d9dfe5;
        font-size: 16px;
        border-radius: 5px;
        outline: none;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        padding: 16px 60px 16px 16px;
      }
      button {
        border: none;
        padding: 20px 65px;
        border-radius: 5px;
        color: #fff;
        background-color: #0674ec;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

.search__inner {
  display: flex;
  justify-content: space-between;
}

.search__item {
  max-width: 360px;
  width: 100%;
  text-align: center;
  margin: 183px 0 0;
  padding: 40px 31px 50px;
  transition: all 0.3s;
  &-img {
    margin: 0 auto;
    height: 113px;
    width: 113px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-title {
    margin-top: 40px;
    margin-bottom: 34px;
    font-size: 24px;
    color: #000;
  }
  &-text {
    text-align: center;
  }
  &:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  .search__second-title {
    margin-top: 33px;
  }
}

// end search

// start slider

.slider {
  background-color: #eff1f5;
}
.slider__box {
  padding: 120px 0;
}

.slider__title {
  background-color: #fff;
  font-size: 30px;
  padding: 40px 40px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  margin-bottom: 50px;
  position: relative;
}

.next {
  position: absolute;
  right: 30px;
  top: -130px;
  background-color: #7347c0;
  padding: 8px 25px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  cursor: pointer;
  &::before {
    content: "\f105";
    font-family: "icomoon";
    color: #fff;
    font-size: 14px;
  }
}

.prev {
  position: absolute;
  right: 75px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  top: -130px;
  background-color: #7347c0;
  padding: 8px 25px;
  cursor: pointer;
  &::before {
    content: "\f104";
    font-family: "icomoon";
    color: #fff;
    font-size: 14px;
  }
}

.slider__item {
  display: flex !important;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
  border-radius: 4px;
  &-star {
    position: absolute;
    right: 0;
    top: 5px;
  }
  &-img {
    min-width: 555px;
    width: 100%;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &-name {
    padding: 50px 45px 20px;
  }
  &-title {
    font-size: 24px;
    @include f500;
    color: #000;
  }
  &-bottom {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 23px;
    .slider__item-price {
      height: 30px;
      border-radius: 50px;
      color: #fff;
      background-color: $blue;
      padding: 0px 20px;
    }
    .icon-heart-o {
      font-size: 15px;
      color: #7347c1;
      &::before {
        content: "\f08a";
        font-family: "icomoon";
        margin-right: 8px;
        margin-left: 20px;
      }
      span {
        color: $text;
      }
    }
    .icon-shopping-cart {
      font-size: 15px;
      color: $blue;
      &::before {
        content: "\f07a";
        font-family: "icomoon";
        margin-right: 8px;
        margin-left: 20px;
      }
    }
  }
  &-filter {
    display: flex;
    border-bottom: 1px solid #ececec;
    .filter {
      font-size: 15px;
      color: #868c96;
      height: 28px;
      border-radius: 50px;
      background-color: #f1f3f6;
      padding: 0 16px;
      margin: 40px 0;
      & + .filter {
        margin-left: 7px;
      }
    }
  }
  &-info {
    display: flex;
    align-items: center;
  }
  &-author {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 15px;
    color: #000;
  }
  &-category {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 15px;
    color: #7347c1;
  }
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 9px;
  }
  .category {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 9px;
    margin-left: 20px;
  }
}

// end slider

// start products

.products {
  background-color: #f6f7fb;
  padding: 125px 0;
}

.products__filter-list {
  display: none;
  background-color: #fff;
  position: absolute;
  padding: 25px;
  width: 190px;
  font-size: 15px;
  top: 50px;
  right: -30px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  border-radius: 3px;
  z-index: 1;
  li:hover {
    a {
      color: $blue;
    }
  }
}

.products__title {
  background-color: #fff;
  font-size: 30px;
  padding: 40px 40px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  .products__filter {
    font-size: 16px;
    color: #747b86;
    padding-right: 30px;
    position: relative;
    &:hover {
      .products__filter-list {
        display: block;
        img {
          position: absolute;
          top: -36px;
          right: -2px;
          z-index: 1;
          padding-left: 60px;
        }
      }
    }
    img {
      position: absolute;
      right: 0;
      top: 5px;
    }
  }
}

.products__inner {
  .all-new {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    background-color: $blue;
    height: 54px;
    padding: 0px 35px;
    border: none;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  &-btn {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    margin-bottom: 50px;
    button {
      font-size: 15px;
      color: #747b86;
      background-color: #f1f3f6;
      height: 34px;
      border: none;
      border-radius: 50px;
      padding: 0 20px;
      transition: all 0.3s;
      outline: none;
      & + button {
        margin-left: 10px;
      }
      &:hover {
        color: #fff;
        background-color: $blue;
      }
    }
  }
  &-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product__item {
      display: block;
      max-width: 360px;
      box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
      margin-bottom: 30px;
      background-color: #fff;
      &-info {
        display: flex;
        align-items: center;
      }
      &-author {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 15px;
        color: #000;
      }
      &-category {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 15px;
        color: #7347c1;
      }
      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 9px;
      }
      .category {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 9px;
        margin-left: 20px;
      }
      &-img {
        min-width: 100%;
        min-height: 230px;
        border-radius: 0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      .product__item-img:hover {
        .product__item-detail {
          display: block;
          min-height: 230px;
        }
      }
      &-title {
        font-size: 20px;
        @include f500;
        color: #000;
      }
      &-name {
        padding: 14px 30px 35px 30px;
      }
      &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        margin-top: 0;
        border-top: 1px solid #ececec;
        font-size: 15px;
        .icon-heart-o::before {
          margin-left: 14px;
          color: #7347c1;
          margin-right: 8px;
        }
        .icon-shopping-cart {
          margin-right: 0;
          margin-left: auto;
          color: #0674ec;
          padding-right: 8px;
          &::before {
            margin-right: 8px;
          }
        }
      }
      &-price {
        background-color: #e6f1fd;
        color: $blue;
      }
      &-star {
        position: inherit;
        top: 0px;
        margin-left: 10px;
      }
    }
  }
}
.product__item-detail {
  display: none;
  &-box {
    display: flex;
    justify-content: center;
    padding-top: 90px;
  }
  a {
    font-size: 15px;
    @include f500;
    height: 43px;
    border: 1px solid #fff;
    padding: 5px 33px;
    border-radius: 50px;
    color: #fff;
    transition: all 0.3s;
    &:hover {
      background-color: #fff;
      color: $blue;
    }
    & + a {
      margin-left: 10px;
    }
  }
}

// end products

// start followers

.followers {
  background-color: #eff1f5;
}

.followers__inner {
  padding: 120px 0;
  .prev.slick-arrow {
    background-color: $blue;
  }
  .next.slick-arrow {
    background-color: $blue;
  }
}

// end followers
