@import "vars";
@import "global";

// start header

.header__top {
  background-color: #eef1f3;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__box-btn {
  padding: 4px 16px;
  height: 35px;
  line-height: 28px;
  border-radius: 50px;
  background-color: #0674ec;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 14px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 20px;
    }
  }
  a {
    @include f500;
    text-transform: uppercase;
    font-size: 15px;
    color: #333333;
  }
}

.menu__search {
  border-radius: 50px;
  form {
    position: relative;
    max-width: 360px;
    input {
      display: block;
      width: 360px;
      height: 46px;
      border-radius: 50px;
      border: 1px solid #d9dfe5;
      font-size: 15px;
      padding-left: 25px;
      padding-right: 70px;
      outline: none;
      &::placeholder {
        color: #898f96;
      }
    }
    button {
      position: absolute;
      border: none;
      padding: 13px 25px;
      border-radius: 50px;
      background-color: #0674ec;
      right: 0px;
      top: 0px;
      cursor: pointer;
      outline: none;
    }
  }
}

// end header
// start products

.products {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 725px;
}

.products__inner {
  padding: 180px 0 200px;
  text-align: center;
  &-title {
    font-size: 60px;
    line-height: 70px;
    color: $title;
    span {
      display: block;
      @include f700;
    }
  }
  &-text {
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 20px;
    color: $title;
    @include f500;
  }
  &-btn {
    font-size: 16px;
    button {
      color: #fff;
      height: 55px;
      background-color: transparent;
      padding: 13px 25px;
      border-radius: 50px;
      border: 1px solid #fff;
      transition: all .3s;
      & + button {
        margin-left: 30px;
      }
      &:hover {
        background-color: #fff;
        color: #0674ec;
        
      }
    }
  }
}

// end products
